{% extends 'base.twig' %}

{% block main %}

    <div class="container-lg border-bottom mb-3 pb-3 px-4 d-flex flex-row justify-content-between align-items-center gap-2">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
                <i class="bi-house me-1"></i>
                <a href="/">
                    Home
                </a>
            </li>
            <li class="breadcrumb-item active">
                <i class="bi-lock"></i> Change password
            </li>
        </ol>
    </div>

    <form action="/password" method="post" class="container-lg px-8">
        <div class="mb-3">
            <label for="oldPassword" class="form-label">Old password</label>
            <input type="password" id="oldPassword" name="oldPassword" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="newPassword" class="form-label">New password</label>
            <input type="password" id="newPassword" name="newPassword" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirm new password</label>
            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Change password</button>
    </form>

{% endblock %}
